modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Start Web Server"

[[workflows.workflow]]
name = "Start Web Server"
author = 27011725
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx http-server -p 5000 -a 0.0.0.0"
